
<ul class="nav list-group list-group-horizontal list-unstyled">
        <li  >
          <a class="nav-link font-weight-bold text-white" href="{{"/posts/studying_abroad.html"}}">Xaricdə Təhsil</a>
        </li>
        <li >
          <a class="nav-link font-weight-bold text-white" href="{{ "/posts/programming.html" }}">Proqramlaşdırma</a>
        </li>
        <li  >
          <a class="nav-link font-weight-bold text-white" href="{{ "/events" }}">Proqramlaşdırma Olimpiadası</a>
        </li>
</ul>
