<!-- Footer -->

<hr>

<footer class="bg-dark py-5">
  <div class="container container-lg">
    <div class="row">
      <div class="col-md-4">
        
      </div>
      <div class="col-md-4">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li class="list-inline-item">
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-white">&copy; {{ 'now' | date: "%Y" }} {{ site.author }}.  Bütün hüquqlar qorunur.</p>
      </div>
      <div class="col-md-4">
  <div class="subscribe-box">
    <div class="display-4 text-white"> 
      <i class="icon-Mail-3">
      </i>
    </div>
    <p>Get free updates.</p>
    <form lpformnum="1" action="https://us10.list-manage.com/subscribe/post?u=210acce5db69d3d4a04b0e25d&id=bee17ce703" method="post">
      <div class=""> 
        <input class="form-control required email" id="mce-EMAIL" name="EMAIL" placeholder="Enter your email" type="email" value="">
      </div>
      <button class="btn btn-sm bg-gradient-primary text-white mt-2">JOIN US</button> 
    </form>
  </div>
</div>

    </div>
  </div>
</footer>
<style>
  .subscribe-box {
    background: rgba(120,130,140,0.13);
    padding: 25px;
    border-radius: 4px;
  }
</style>

