<!--{{ site.title | escape }} -->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{" /en "}}"> <img style="max-height: 60px;" src="/img/Logo.png"> </img>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
	 </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{"/en"}}">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link font-weight-bold " href="{{"/en/azerbaijani"}}"> Azerbaijani</a>
                    </li>
                    <!-- Video Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link font-weight-bold dropdown-toggle" href="{{ " /en/videos " }}" id="navbardrop" data-toggle="dropdown">
                  Literature
                  </a>
                        <div class="dropdown-menu">
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/literature/general.html " }}"> General </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/literature/tales.html " }}"> Tales </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{" /en/literature/stories.html "}}"> Stories</a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{" /en/literature/books.html "}}"> Books  </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{" /en/literature/poems.html "}}"> Poems  </a>
                        </div>
                    </li>
                    <!-- End of Video Dropdown -->
                    <!-- Article Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link font-weight-bold dropdown-toggle" href="{{ " /en/posts " }}" id="navbardrop" data-toggle="dropdown">
                  İCT
                  </a>
                        <div class="dropdown-menu" >
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/ict/general.html " }}"> General </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/ict/programming.html " }}">Programming</a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/ict/excel.html " }}">Excel</a>
                        </div>
                    </li>
                    <!-- End of Article Dropdown -->
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{" /en/economy "}}">Economy</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link font-weight-bold dropdown-toggle" href="{{ " /en/eduabroad " }}" id="navbardrop" data-toggle="dropdown">
                  Eduabroad
                  </a>
                        <div class="dropdown-menu" >
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/eduabroad/general.html " }}"> General </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/eduabroad/exams.html " }}"> Exams  </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/eduabroad/countries.html " }}"> Countries </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/eduabroad/scholarships.html " }}"> Scholarships </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /en/eduabroad/universities.html " }}"> Universities </a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{" /en/psychology "}}">Psychology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{" /en/about "}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ " /en/partnership " }}">Partnership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{" /en/contact "}}">Contact</a>
                    </li>

                </ul>

            </div>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link font-weight-bold " href="{{" / "}}"><img src="/img/flag icon/azerbaijan-flag-round-icon-16.png" alt=""> Az</a>
            </li>
        </ul>
    </div>
</nav>
