<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{{"/"}}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{"/"}}">Əsas Səhifə</a>
        </li>
       <!-- Video Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link font-weight-bold dropdown-toggle" href="{{ "/videos" }}" id="navbardrop" data-toggle="dropdown">
            Videolar
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ "/videos" }}">Bütün Videolar</a>
            <a class="dropdown-item" href="#">Ədəbiyyat</a>
            <a class="dropdown-item" href="#">İqtisadiyyat </a>
            <a class="dropdown-item" href="#">İT</a>
            <a class="dropdown-item" href="{{ "/videos/eduabroad.html" }}">Xaricdə Təhsil</a>
            <a class="dropdown-item" href="#">Psixologiya</a>
          </div>     
        </li>
         <!-- End of Video Dropdown -->
        <!-- Article Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link font-weight-bold dropdown-toggle" href="{{ "/posts" }}" id="navbardrop" data-toggle="dropdown">
            Məqalələr
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ "/posts" }}">Bütün Məqalələr</a>
            <a class="dropdown-item" href="#">Ədəbiyyat</a>
            <a class="dropdown-item" href="#">İqtisadiyyat </a>
            <a class="dropdown-item" href="#">İT</a>
            <a class="dropdown-item" href="#">Xaricdə Təhsil</a>
            <a class="dropdown-item" href="#">Psixologiya</a>
          </div>     
        </li>
         <!-- End of Article Dropdown -->
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{"/events"}}">Tədbirlər</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{"/about"}}">Haqqımızda</a>
        </li>
         <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{ "/partnership" }}">Əməkdaşlıq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{"/contact"}}">Əlaqə</a>
        </li>
        <li class="nav-item">
            <i class="nav-link fas fa-search"></i>
            <!--<div class="search-box"> -->
    		      <script async src="https://cse.google.com/cse.js?cx=006956435325746359751:53dmzemhe0e"></script>
              <div class="gcse-search"></div>
 	   <!--</div> -->
         </li>
        
      </ul>
    </div>
  </div>
</nav>
<style>
.search-box{
  background: #E8E8E4;
  position: absolute;
  top: 54px;
  right: 28.7%;
  width: 350px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #D80B15;
  display: none;
}

 .search-box:before{
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #D80B15;
}

.search-box input[type="text"]{
  width: 200px;
  padding: 5px 10px;
  margin-left: 23px;
  border: 1px solid #D80B15;
  outline: none;
}

.search-box input[type="button"]{
  width: 80px;
  padding: 5px 0;
  background: #D80B15;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #D80B15;
  outline: none;
  cursor: pointer;
}
  
</style>

<script>
$(document).ready(function() {
     
		    $(".fa-search").click(function() {
		       $(".search-box").toggle();
		       $("input[type='text']").focus();
		     });
 
 		});
</script>

  

