<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{{"/"}}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{"/"}}">Əsas Səhifə</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{ "/videos" }}">Videolar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold dropdown-toggle" href="{{ "/posts" }}" id="navbardrop" data-toggle="dropdown">
            Məqalələr
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Xaricdə Təhsil</a>
            <a class="dropdown-item" href="#">IT</a>
            <a class="dropdown-item" href="#">Ədəbiyyat</a>
          </div>     
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{ "/" }}">Tədbirlər</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{"/about"}}">Haqqımızda</a>
        </li>
         <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{ "/" }}">Əməkdaşlıq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="{{"/contact"}}">Əlaqə</a>
        </li>
        <li class="nav-item">
          <div class="d-flex justify-content-start" >
            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
            <i class="nav-link fas fa-search"></i>
          </div> 
        </li>
        
      </ul>
    </div>
  </div>
</nav>
