<!--{{ site.title | escape }} -->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{" /azerbaijani "}}"> <img style="max-height: 60px;" src="/img/Logo.png"> </img>
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
	 </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{" /azerbaijani "}}">Əsas Səhifə</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link font-weight-bold " href="{{" /azerbaijani "}}">Azərbaycan Dili</a>

                    </li>

                    <!-- Video Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link font-weight-bold dropdown-toggle" href="{{ " /videos " }}" id="navbardrop" data-toggle="dropdown">
                  Ədəbiyyat
                  </a>
                        <div class="dropdown-menu" style="background-color:#7ec303;">
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /literature/general.html " }}"> Ümumi </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /literature/tales.html " }}"> Nağıllar </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{" /literature/stories.html "}}"> Hekayələr</a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{" /literature/books.html "}}"> Kitablar  </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{" /literature/poems.html "}}"> Şeirlər  </a>
                        </div>
                    </li>
                    <!-- End of Video Dropdown -->
                    <!-- Article Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link font-weight-bold dropdown-toggle" href="{{ " /posts " }}" id="navbardrop" data-toggle="dropdown">
                  İKT
                  </a>
                        <div class="dropdown-menu" style="background-color:#7ec303;">
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /ict/general.html " }}"> Ümumi </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /ict/programming.html " }}">Proqramlaşdırma</a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /ict/excel.html " }}">Excel</a>
                        </div>
                    </li>
                    <!-- End of Article Dropdown -->
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{" /economy "}}">İqtisadiyyat</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link font-weight-bold dropdown-toggle" href="{{ " /eduabroad " }}" id="navbardrop" data-toggle="dropdown">
                  Xaricdə Təhsil
                  </a>
                        <div class="dropdown-menu" style="background-color:#7ec303;">
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /eduabroad/general.html " }}"> Ümumi </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /eduabroad/exams.html " }}"> İmtahanlar  </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /eduabroad/countries.html " }}"> Ölkələr </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /eduabroad/scholarships.html " }}"> Təqaüdlər </a>
                            <a style="color:white; font-size:12px;" class="dropdown-item" href="{{ " /eduabroad/universities.html " }}"> Universitetlər </a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{" /psychology "}}">Psixologiya</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{" /about "}}">Haqqımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ " /partnership " }}">Əməkdaşlıq</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{" /contact "}}">Əlaqə</a>
                    </li>

                </ul>
            </div>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link font-weight-bold " href="{{" /en "}}"><img src="../../../../../../img/flag icon/united-kingdom-flag-round-icon-16.png" alt=""> En</a>
            </li>
        </ul>
    </div>
</nav>