---
layout: page
title: Əməkdaşlıq
---
<div class="container">
  <h3 class="font-weight-bold text-center mt-5" >Bizimlə Əməkdaşlıq Edənlər </h3>
  <div class="card"> 
    <div class="container" >
		<section class="our-webcoderskull padding-lg">
  <div class="container">
  
    <ul class="row list-unstyled"> 
	    
	    <li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://www.facebook.com/photo/?fbid=1278387102319021" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.instagram.com/karyera_aze">KaryeraAze </a></h3>
          </div>
      </li>
	    
      <li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://yt3.ggpht.com/a/AATXAJzx2w-inn9Dir9WGesYuKsl_5DUXwKZaKHFq4ju=s100-c-k-c0xffffffff-no-rj-mo" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.youtube.com/channel/UC4YvvtnuKGbqaEpPbYJH69Q">Video Bilik </a></h3>
          </div>
      </li>          
<li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://yt3.ggpht.com/a/AATXAJzk9z7rNVbyE1gAz1ms6fT8ayPKBBiA7F-KE_4How=s100-c-k-c0xffffffff-no-rj-mo" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.youtube.com/channel/UC7rOOB1hO0hQMLLTuJxlM2Q">Business Talks </a></h3>
          </div>
      </li> 	    
      <li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://yt3.ggpht.com/a/AATXAJygzU87CEIdm_rqua-gghAMBQ7snr-LPu5cu2FrAu4=s100-c-k-c0xffffffff-no-rj-mo" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.youtube.com/channel/UCfU2M1hV2SP5ndD7-aJT4lA">İmamverdi Behbudlu </a></h3>
           
          </div>
      </li>
      <li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://yt3.ggpht.com/a/AATXAJxYulo4gMPEs_NrrGu9eYv4Ni47v4cYWMPMbhQ_ng=s100-c-k-c0xffffffff-no-rj-mo" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.youtube.com/c/KamalaRovshan/featured"> Kəmalə Rövşən </a></h3>
          </div>
      </li>
      <li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://yt3.ggpht.com/a/AATXAJxaAxfuLhxtF0HdxLTFC4A-g5tm493S6Zt6m4Ny=s100-c-k-c0xffffffff-no-rj-mo" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.youtube.com/channel/UC84FfveP_OAH7XjC8YI3-xw">Nail Məmmədov  </a></h3>
          </div>
       </li>
      <li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://yt3.ggpht.com/a/AATXAJy1WM6yBfIurmBuIlQUtIxFCKBR7ezchwt2e_-0Mw=s100-c-k-c0xffffffff-no-rj-mo" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.youtube.com/channel/UCx6uGaHy7NbwvRWDSHKFmhA">Sərxan Rüstəmov </a></h3>
          </div>
      </li>
	  
      <li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://yt3.ggpht.com/a/AATXAJxAcHWlZgCoWLX9o-PLQsal8A-3lnC29smlGFOWPA=s100-c-k-c0xffffffff-no-rj-mo" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.youtube.com/channel/UCHCB9cjwX8ITLddkiyg-pIw">Tunar Süleymanlı  </a></h3>
          </div>
      </li>
      <li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://yt3.ggpht.com/a/AATXAJxUyuxWjei4qcZX5RU1niGy1Ue3cX9_3zjVEHFxVA=s100-c-k-c0xffffffff-no-rj-mo" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.youtube.com/channel/UCKiw8c-nKz4EJlPoFOM0B-w">Aynur Nəbiyeva </a></h3>
          </div>
      </li>
      <li class="col-lg-4 col-sm-6 mb-4">
          <div class="cnt-block equal-hight" style="height: 300px;">
            <figure><img src="https://yt3.ggpht.com/a/AATXAJzJyyeUphDQZ7cbe215xJxkoWYZK7lrKp39jyURvQ=s100-c-k-c0xffffffff-no-rj-mo" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.youtube.com/channel/UCUxM7vozue2dcBNgm-cTrkg">Aytac Nəbizadə </a></h3>
          </div>
      </li>
    </ul>
  </div>
</section>
</div>
</div>
	
  <h3 class="font-weight-bold text-center mt-5" >Siz də əməkdaşlıq etmək istəyirsiniz? </h3>
  <div class="card">
    <div class="container">
      <p> Bizimlə əməkdaşlıq etmək üçün həm <a style="color: #7ec303" href="https://azecontent.github.io/contact"> Əlaqə</a> bölməsindən bizimlə əlaqə saxlaya bilər, həm də sosial media hesablarımızdan bizə ulaşa bilərsiniz. </p> 
     </div>
  </div>

</div>
</div>


<style> 



.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	//font-size:24px; 
	//font-weight:500;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:1px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:700; 
   padding:6px 0;
   text-transform:capitalize;
}
.our-webcoderskull .cnt-block h3 a{
    text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}


</style>

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Yeni<span class="d-none d-md-inline"> Məqalələr</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Köhnə<span class="d-none d-md-inline"> Məqalələr</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
