---
layout: page
title: Əməkdaşlıq
---
<div class="container">
  <h3 class="font-weight-bold text-center mt-5" >Bizimlə Əməkdaşlıq Edənlər </h3>
  <div class="card"> 
   
    <p> Aynur Nəbiyeva  <a style="color:green;" href="https://www.youtube.com/channel/UCKiw8c-nKz4EJlPoFOM0B-w">Kanala keçid</a> </p>
    <p> Aytac Nabizadə  <a style="color:green;" href="https://www.youtube.com/channel/UCUxM7vozue2dcBNgm-cTrkg">Kanala keçid</a> </p>
    <p> Kəmalə Rövşən  <a  style="color:green;" href="https://www.youtube.com/c/KamalaRovshan/featured">Kanala keçid</a> </p>
    <p> Nail Məmmədov  <a style="color:green;" href="https://www.youtube.com/channel/UC84FfveP_OAH7XjC8YI3-xw">Kanala keçid</a> </p>
    <p> Sərxan Rüstəmov  <a style="color:green;" href="https://www.youtube.com/channel/UCx6uGaHy7NbwvRWDSHKFmhA">Kanala keçid</a> </p>
    <p> Tunar Süleymanlı  <a style="color:green;" href="https://www.youtube.com/channel/UCHCB9cjwX8ITLddkiyg-pIw">Kanala keçid</a> </p>
    <p> Video Bilik  <a style="color:green;" href="https://www.youtube.com/channel/UC4YvvtnuKGbqaEpPbYJH69Q">Kanala keçid</a> </p>
    
    
    

  </div>
  <h3 class="font-weight-bold text-center mt-5" >Əməkdaşlıq üçün </h3>
  <div class="card">
    
  </div>

</div>


<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Yeni<span class="d-none d-md-inline"> Məqalələr</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Köhnə<span class="d-none d-md-inline"> Məqalələr</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
