---
layout: page
title: Əməkdaşlıq
---
<div class="container">

  <div class="container"> 
    <h3 class="font-weight-bold" >Bizimlə Əməkdaşlıq Edənlər </h3>
     <hr>
  </div>
  <div class="container">
    <h3 class="font-weight-bold" >Bizimlə Əməkdaşlıq Etmək üçün </h3>
  </div>

</div>


<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Yeni<span class="d-none d-md-inline"> Məqalələr</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Köhnə<span class="d-none d-md-inline"> Məqalələr</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
