---
layout: default
---
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description-part1 %}
            <span class="subheading font-weight-bold">"{{ site.description-part1 }}</span>
            <span class="subheading font-weight-bold">{{ site.description-part2 }}"</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

 
  <div class="container">
    <div class="card-deck">
        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 18 %}
      
        <div class="col-lg-4 col-sm-6 mb-4">
            <article class="card shadow">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  {% if post.video_link  %}
                  <img class="rounded card-img-top"  src="https://img.youtube.com/vi/{{post.video_link}}/0.jpg" style="height: 10rem;">
                  {% else %}
                  <img class="rounded card-img-top"  src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}" style="height: 10rem;">
                  {% endif %}
                </a>
              <div class="card-body" >
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                   <h4 class="card-title font-weight-bold line-clamp">{{ post.title }}</h4>
                </a>
                <p class="post-meta">Posted by
                  {% if post.author %}
                  {{ post.author }}
                  {% else %}
                  {{ site.author }}
                  {% endif %}
                  on
                  {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
                </p>
            </div>    
            </article>

            <hr>
        </div>
        
        {% endfor %}
    </div>
       <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/all" | relative_url }}">Hamısını Göstər &rarr;</a>
        </div>
  </div>
  <style>
    .line-clamp {
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    }
  </style>  
    
 
