---
layout: article_view
---

<!-- Page Header -->

 <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="post-heading">
            <h2 class="font-weight-bold mt-4">{{ page.title }}</h2>
            {% if page.subtitle %}
            <p class="subheading">{{ page.subtitle }}</p>
            {% endif %}
          </div>
          <img class="img-fluid rounded"  src="{{ page.background | prepend: site.baseurl | replace: '//', '/' }}">
         <hr>
        </div>
      </div>
    </div>
<div class="container"> 
    <div class="row">
      <div class="col-md-10 mx-auto">

        {{ content }}
           <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <p>{{ page.date | date: '%m.%d.%Y' }}</p>
           <div class="addthis_inline_share_toolbox mt-4 d-flex justify-content-end">
             <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f1c76cf5834dcd8"></script>
           </div>
        <hr>

   
        <h3 class="text-center font-weight-bold mt-5">Oxşar Postlar </h3>
        <div class="card-deck">
        <!-- Related Post List -->
        {% include related_posts.html %} 
        </div>
      
      </div>
    </div>    
 </div>
