---
layout: article_view
---

<!-- Page Header -->

 <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="post-heading">
            <h2 class="font-weight-bold mt-4">{{ page.title }}</h2>
          </div>
          <img class="img-fluid rounded"  src="{{ page.background | prepend: site.baseurl | replace: '//', '/' }}">
         <span class="meta text-center"> 
              {{ page.date | date: '%B %d, %Y' }} &middot; 
              {% include read_time.html content=page.content %}
         </span>
         <hr>
        </div>
      </div>
    </div>
<div class="container"> 
    <div class="row">
      <div class="col-md-10 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">
         <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f1c76cf5834dcd8"></script>
        </div>
      </div>
    </div>
  </div>
